In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Reading the ILPD dataset

In [2]:
df = pd.read_csv("ILPD.csv")
df

     Age  Gender    TB   DB   AP  SGPT  SGOT   TP  ALB   A/G  Target
0     65  Female   0.7  0.1  187    16    18  6.8  3.3  0.90       1
1     62    Male  10.9  5.5  699    64   100  7.5  3.2  0.74       1
2     62    Male   7.3  4.1  490    60    68  7.0  3.3  0.89       1
3     58    Male   1.0  0.4  182    14    20  6.8  3.4  1.00       1
4     72    Male   3.9  2.0  195    27    59  7.3  2.4  0.40       1
..   ...     ...   ...  ...  ...   ...   ...  ...  ...   ...     ...
578   60    Male   0.5  0.1  500    20    34  5.9  1.6  0.37       2
579   40    Male   0.6  0.1   98    35    31  6.0  3.2  1.10       1
580   52    Male   0.8  0.2  245    48    49  6.4  3.2  1.00       1
581   31    Male   1.3  0.5  184    29    32  6.8  3.4  1.00       1
582   38    Male   1.0  0.3  216    21    24  7.3  4.4  1.50       2

[583 rows x 11 columns]

# Encoding Gender column

In [3]:
from sklearn.preprocessing import LabelEncoder

label_encoder_x = LabelEncoder()
df['Gender'] = label_encoder_x.fit_transform(df[['Gender']])
df

C:\Users\LENOVO\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

     Age  Gender    TB   DB   AP  SGPT  SGOT   TP  ALB   A/G  Target
0     65       0   0.7  0.1  187    16    18  6.8  3.3  0.90       1
1     62       1  10.9  5.5  699    64   100  7.5  3.2  0.74       1
2     62       1   7.3  4.1  490    60    68  7.0  3.3  0.89       1
3     58       1   1.0  0.4  182    14    20  6.8  3.4  1.00       1
4     72       1   3.9  2.0  195    27    59  7.3  2.4  0.40       1
..   ...     ...   ...  ...  ...   ...   ...  ...  ...   ...     ...
578   60       1   0.5  0.1  500    20    34  5.9  1.6  0.37       2
579   40       1   0.6  0.1   98    35    31  6.0  3.2  1.10       1
580   52       1   0.8  0.2  245    48    49  6.4  3.2  1.00       1
581   31       1   1.3  0.5  184    29    32  6.8  3.4  1.00       1
582   38       1   1.0  0.3  216    21    24  7.3  4.4  1.50       2

[583 rows x 11 columns]

# Checking for NULL values

In [4]:
df.isnull().values.any()

True

In [5]:
df.isnull().sum().sum()

4

In [6]:
df[df.isnull().any(axis=1)]

     Age  Gender   TB   DB   AP  SGPT  SGOT   TP  ALB  A/G  Target
209   45       0  0.9  0.3  189    23    33  6.6  3.9  NaN       1
241   51       1  0.8  0.2  230    24    46  6.5  3.1  NaN       1
253   35       0  0.6  0.2  180    12    15  5.2  2.7  NaN       2
312   27       1  1.3  0.6  106    25    54  8.5  4.8  NaN       2

# Handling Missing data by MultiVariate Imputation

In [7]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.model_selection import train_test_split

df2 = df.copy()

In [8]:
cont_feats = [col for col in df2.columns if df2[col].dtype != object]

In [9]:
iter_imputer = IterativeImputer(random_state=42)
iter_imputed = iter_imputer.fit_transform(df2[cont_feats])
df2 = pd.DataFrame(iter_imputed, columns=cont_feats)

In [10]:
df2['A/G'] = np.round(df2[['A/G']],2)

In [11]:
df2.iloc[[209,241,253,312],:]

      Age  Gender   TB   DB     AP  SGPT  SGOT   TP  ALB   A/G  Target
209  45.0     0.0  0.9  0.3  189.0  23.0  33.0  6.6  3.9  1.31     1.0
241  51.0     1.0  0.8  0.2  230.0  24.0  46.0  6.5  3.1  0.92     1.0
253  35.0     0.0  0.6  0.2  180.0  12.0  15.0  5.2  2.7  0.99     2.0
312  27.0     1.0  1.3  0.6  106.0  25.0  54.0  8.5  4.8  1.37     2.0

In [12]:
df = df2
df

      Age  Gender    TB   DB     AP  SGPT   SGOT   TP  ALB   A/G  Target
0    65.0     0.0   0.7  0.1  187.0  16.0   18.0  6.8  3.3  0.90     1.0
1    62.0     1.0  10.9  5.5  699.0  64.0  100.0  7.5  3.2  0.74     1.0
2    62.0     1.0   7.3  4.1  490.0  60.0   68.0  7.0  3.3  0.89     1.0
3    58.0     1.0   1.0  0.4  182.0  14.0   20.0  6.8  3.4  1.00     1.0
4    72.0     1.0   3.9  2.0  195.0  27.0   59.0  7.3  2.4  0.40     1.0
..    ...     ...   ...  ...    ...   ...    ...  ...  ...   ...     ...
578  60.0     1.0   0.5  0.1  500.0  20.0   34.0  5.9  1.6  0.37     2.0
579  40.0     1.0   0.6  0.1   98.0  35.0   31.0  6.0  3.2  1.10     1.0
580  52.0     1.0   0.8  0.2  245.0  48.0   49.0  6.4  3.2  1.00     1.0
581  31.0     1.0   1.3  0.5  184.0  29.0   32.0  6.8  3.4  1.00     1.0
582  38.0     1.0   1.0  0.3  216.0  21.0   24.0  7.3  4.4  1.50     2.0

[583 rows x 11 columns]

# Log1 p Transformation

In [13]:
# save skewed features
skewed_cols = ['A/G', 'TB', 'AP', 'SGPT']

In [14]:
# Apply log1p transformation on dataframe - just selected values
for c in skewed_cols:
    df[c] = df[c].apply('log1p')

In [15]:
df

,Age,Gender,TB,DB,AP,SGPT,SGOT,TP,ALB,A/G,Target
0,65.0,0.0,0.530628,0.1,5.236442,2.833213,18.0,6.8,3.3,0.641854,1.0
1,62.0,1.0,2.476538,5.5,6.551080,4.174387,100.0,7.5,3.2,0.553885,1.0
2,62.0,1.0,2.116256,4.1,6.196444,4.110874,68.0,7.0,3.3,0.636577,1.0
3,58.0,1.0,0.693147,0.4,5.209486,2.708050,20.0,6.8,3.4,0.693147,1.0
4,72.0,1.0,1.589235,2.0,5.278115,3.332205,59.0,7.3,2.4,0.336472,1.0
...,...,...,...,...,...,...,...,...,...,...,...
578,60.0,1.0,0.405465,0.1,6.216606,3.044522,34.0,5.9,1.6,0.314811,2.0
579,40.0,1.0,0.470004,0.1,4.595120,3.583519,31.0,6.0,3.2,0.741937,1.0
580,52.0,1.0,0.587787,0.2,5.505332,3.891820,49.0,6.4,3.2,0.693147,1.0
581,31.0,1.0,0.832909,0.5,5.220356,3.401197,32.0,6.8,3.4,0.693147,1.0
582,38.0,1.0,0.693147,0.3,5.379897,3.091042,24.0,7.3,4.4,0.916291,2.0

# Balance Dataset

In [16]:
from sklearn.utils import resample
df.Target.value_counts()

1.0    416
2.0    167
Name: Target, dtype: int64

In [17]:
# Split data on majority and minority.. minority is dataset == 2
minority = df[df.Target == 2]
majority = df[df.Target == 1]

print('Minority size:', minority.shape)
print('Majority size:', majority.shape)

Minority size: (167, 11)
Majority size: (416, 11)

In [18]:
# choosing upsample as even now we do not have too much data
minority_upsample = resample(
    minority, replace=True, n_samples=majority.shape[0])
print('Minority upsampled size:',  minority_upsample.shape)

Minority upsampled size: (416, 11)

In [19]:
# merge majority with upsampled minority
pd.concat([minority_upsample, majority], axis=0)

,Age,Gender,TB,DB,AP,SGPT,SGOT,TP,ALB,A/G,Target
122,58.0,1.0,0.993252,0.8,5.241747,4.110874,84.0,5.9,3.5,0.875469,2.0
488,60.0,1.0,0.530628,0.2,5.147494,3.465736,26.0,7.0,3.5,0.693147,2.0
17,33.0,1.0,0.955511,0.5,5.111988,2.772589,23.0,7.3,3.5,0.652325,2.0
293,23.0,1.0,0.741937,0.5,5.257495,3.637586,41.0,7.7,4.3,0.788457,2.0
218,6.0,1.0,0.470004,0.1,5.669881,3.663562,30.0,4.8,2.0,0.530628,2.0
...,...,...,...,...,...,...,...,...,...,...,...
576,32.0,1.0,2.772589,8.2,5.669881,4.077537,80.0,5.3,2.2,0.530628,1.0
577,32.0,1.0,2.617396,8.4,5.252273,3.367296,47.0,5.4,2.6,0.641854,1.0
579,40.0,1.0,0.470004,0.1,4.595120,3.583519,31.0,6.0,3.2,0.741937,1.0
580,52.0,1.0,0.587787,0.2,5.505332,3.891820,49.0,6.4,3.2,0.693147,1.0
581,31.0,1.0,0.832909,0.5,5.220356,3.401197,32.0,6.8,3.4,0.693147,1.0

In [20]:
# merge majority with upsampled minority
df = pd.concat([minority_upsample, majority], axis=0)
df = df.reset_index(drop=True)
df

,Age,Gender,TB,DB,AP,SGPT,SGOT,TP,ALB,A/G,Target
0,58.0,1.0,0.993252,0.8,5.241747,4.110874,84.0,5.9,3.5,0.875469,2.0
1,60.0,1.0,0.530628,0.2,5.147494,3.465736,26.0,7.0,3.5,0.693147,2.0
2,33.0,1.0,0.955511,0.5,5.111988,2.772589,23.0,7.3,3.5,0.652325,2.0
3,23.0,1.0,0.741937,0.5,5.257495,3.637586,41.0,7.7,4.3,0.788457,2.0
4,6.0,1.0,0.470004,0.1,5.669881,3.663562,30.0,4.8,2.0,0.530628,2.0
...,...,...,...,...,...,...,...,...,...,...,...
827,32.0,1.0,2.772589,8.2,5.669881,4.077537,80.0,5.3,2.2,0.530628,1.0
828,32.0,1.0,2.617396,8.4,5.252273,3.367296,47.0,5.4,2.6,0.641854,1.0
829,40.0,1.0,0.470004,0.1,4.595120,3.583519,31.0,6.0,3.2,0.741937,1.0
830,52.0,1.0,0.587787,0.2,5.505332,3.891820,49.0,6.4,3.2,0.693147,1.0
831,31.0,1.0,0.832909,0.5,5.220356,3.401197,32.0,6.8,3.4,0.693147,1.0

In [21]:
# df[['DB', 'SGOT', 'TP', 'ALB']]

# Splitting into train and test set

In [22]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [23]:
from sklearn import preprocessing

standard_scaler = preprocessing.StandardScaler()
standard_data = pd.DataFrame(standard_scaler.fit_transform(X), columns=X.columns)
standardized_X_train = pd.DataFrame(standard_scaler.fit_transform(X_train), columns=X.columns)
standardized_X_test = pd.DataFrame(standard_scaler.fit_transform(X_test), columns=X.columns)

min_max_scaler = preprocessing.MinMaxScaler()
minmax_data = pd.DataFrame(min_max_scaler.fit_transform(X), columns=X.columns)
minmax_X_train = pd.DataFrame(min_max_scaler.fit_transform(X_train), columns=X.columns)
minmax_X_test = pd.DataFrame(min_max_scaler.fit_transform(X_test), columns=X.columns)

max_abs_scaler = preprocessing.MaxAbsScaler()
maxabs_data = pd.DataFrame(max_abs_scaler.fit_transform(X), columns=X.columns)
maxabs_X_train = pd.DataFrame(max_abs_scaler.fit_transform(X_train), columns=X.columns)
maxabs_X_test = pd.DataFrame(max_abs_scaler.fit_transform(X_test), columns=X.columns)

robust_scaler = preprocessing.RobustScaler()
robust_data = pd.DataFrame(robust_scaler.fit_transform(X), columns=X.columns)
robust_X_train = pd.DataFrame(robust_scaler.fit_transform(X_train), columns=X.columns)
robust_X_test = pd.DataFrame(robust_scaler.fit_transform(X_test), columns=X.columns)

scaled_data = {
    'Standardized' : 
    {
        'data': standard_data,
        'train':standardized_X_train,
        'test':standardized_X_test
    },
    'Min_Max': 
    {
        'data':minmax_data,
        'train':minmax_X_train,
        'test':minmax_X_test
    },
    'Absolute_max': 
    {
        'data':maxabs_data,
        'train':maxabs_X_train,
        'test':maxabs_X_test
    },
    'Robust':
    {
        'data':robust_data,
        'train':robust_X_train,
        'test':robust_X_test
    },
}

In [24]:
from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import RandomForestClassifier
from lightgbm import LGBMClassifier
from sklearn.feature_selection import f_classif

In [26]:
feature_selection = []
for name in scaled_data :
    if name!='Standardized' and name!='Robust':
        d1 = {}
        d1['Processing'] = name
        d1['Method'] = "Univariate Selection"
        chi_selector = SelectKBest(chi2, k='all')
        fit = chi_selector.fit(scaled_data[name]['data'], y)
        d1['Features'] = dict(sorted(zip(scaled_data[name]['data'].columns, fit.scores_), key = lambda x: x[1],reverse=True))
        feature_selection.append(d1)
    
    ###############################

    d2 = {}
    d2['Processing'] = name
    d2['Method'] = "Extra Tree Classifier"
    etc = ExtraTreesClassifier(random_state=42)
    etc.fit(scaled_data[name]['data'],y)
    d2['Features'] = dict(sorted(zip(scaled_data[name]['data'].columns, etc.feature_importances_), key = lambda x: x[1],reverse=True))
    feature_selection.append(d2)

    ###############################

    d3 = {}
    d3['Processing'] = name
    d3['Method'] = "Random Forest Classifier"
    rf = RandomForestClassifier(n_estimators=500, random_state=42)
    rf.fit(scaled_data[name]['data'], y)
    d3['Features'] = dict(sorted(zip(scaled_data[name]['data'].columns, rf.feature_importances_), key = lambda x: x[1],reverse=True))
    feature_selection.append(d3)

    ###############################

    d4 = {}
    d4['Processing'] = name
    d4['Method'] = "LGBM Classifier"
    lgbc=LGBMClassifier(n_estimators=500, random_state=42)
    lgbc.fit(scaled_data[name]['data'], y)
    d4['Features'] = dict(sorted(zip(scaled_data[name]['data'].columns, lgbc.feature_importances_), key = lambda x: x[1],reverse=True))
    feature_selection.append(d4)

    ###############################

    d5 = {}
    d5['Processing'] = name
    d5['Method'] = "Correlation Matrix"
    t = pd.concat([scaled_data[name]['data'], y], axis=1)
    corrmat = t.corr()
    d5['Features'] = dict(sorted(zip(corrmat.iloc[:-1,:]['Target'].index,abs(corrmat.iloc[:-1,:]['Target'].values)),key = lambda x: x[1],reverse=True)) 
    feature_selection.append(d5) 

    ###############################

    d6 = {}
    d6['Processing'] = name
    d6['Method'] = "ANOVA F-SCORES"
    anov_selector = SelectKBest(f_classif, k='all')
    fit = anov_selector.fit(scaled_data[name]['data'], y)
    d6['Features'] = dict(sorted(zip(scaled_data[name]['data'].columns, fit.scores_), key = lambda x: x[1], reverse=True))
    feature_selection.append(d6)

In [ ]:
feature_selection

# Random Forest

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from chefboost import Chefboost as chef
from sklearn.ensemble import RandomForestClassifier

In [ ]:
results = []
best_result = {}
cross_best_result = {}
max_accuracy = 0
max_cross_acc = 0
for method in feature_selection:
    data = scaled_data[method['Processing']]
    for i in range(3,11):
        info = {}
        info['Processing'] = method['Processing']
        info['Method'] = method['Method']
        info['Features'] = list(method['Features'].keys())[:i]
        
        data = scaled_data[method['Processing']]['data'][info['Features']]
        X_train = scaled_data[method['Processing']]['train'][info['Features']]
        X_test = scaled_data[method['Processing']]['test'][info['Features']]
        
        model = RandomForestClassifier(n_jobs=-1,random_state=123)
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        predictions = [round(value) for value in y_pred]
        accuracy = accuracy_score(y_test, predictions)*100

        # K-Fold Cross Validation
        kfold = StratifiedKFold(n_splits=10)
        crossval_results = cross_val_score(model, data, y, cv=kfold)
        cross_acc = crossval_results.mean()*100
        info['Cross Validation Accuracy'] = cross_acc
        info['Accuracy'] = accuracy
        if accuracy>max_accuracy:
            max_accuracy = accuracy
            best_result = info
        if cross_acc>max_cross_acc:
            max_cross_acc = cross_acc
            cross_best_result = info

In [ ]:
best_result

In [ ]:
cross_best_result

In [ ]:
from sklearn.model_selection import GridSearchCV, KFold

In [ ]:
X_train = scaled_data['Robust']['train'][best_result['Features']]
X_test = scaled_data['Robust']['test'][best_result['Features']]
data = scaled_data['Robust']['data'][best_result['Features']]

params = {
    'n_estimators': [100, 150, 200, 500],
    'criterion': ['gini', 'entropy'],
    'min_samples_split': [1,2,4,5,None],
    'min_samples_leaf': [1,2,4,5,None],
    'max_leaf_nodes': [4,10,20,50,None]
}

gs1 = GridSearchCV(RandomForestClassifier(n_jobs=-1), params, n_jobs=-1, cv=KFold(n_splits=10), scoring='accuracy')
gs1.fit(X_train, y_train)

print('Best score:', gs1.best_score_)
print('Best score:', gs1.best_params_)

### Training model on best parameters obtained from gridsearchcv

In [ ]:
model = RandomForestClassifier(n_jobs=-1,random_state=123, criterion='gini', max_leaf_nodes=None, 
                                min_samples_leaf=1,min_samples_split = 4, n_estimators=150) 
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]
accuracy = accuracy_score(y_test, predictions)*100

kfold = StratifiedKFold(n_splits=10)
crossval_results = cross_val_score(model, data, y, cv=kfold)
cross_acc = crossval_results.mean()*100
print(accuracy,cross_acc)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score

print(model)
print('Train performance')
print('-------------------------------------------------------')
print(classification_report(y_train, model.predict(X_train[['SGPT', 'TB', 'AP', 'Age', 'SGOT']])))

print('Test performance')
print('-------------------------------------------------------')
print(classification_report(y_test, y_pred))

print('Roc_auc score')
print('-------------------------------------------------------')
print(roc_auc_score(y_test, y_pred))
print('')

print('Confusion matrix')
print('-------------------------------------------------------')
print(confusion_matrix(y_test, y_pred))

### Training model on default parameters

In [ ]:
model = RandomForestClassifier(n_jobs=-1,random_state=123)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]
accuracy = accuracy_score(y_test, predictions)*100

kfold = StratifiedKFold(n_splits=10)
crossval_results = cross_val_score(model, data, y, cv=kfold)
cross_acc = crossval_results.mean()*100
print(accuracy,cross_acc)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score

print(model)
print('Train performance')
print('-------------------------------------------------------')
print(classification_report(y_train, model.predict(X_train[['SGPT', 'TB', 'AP', 'Age', 'SGOT']])))

print('Test performance')
print('-------------------------------------------------------')
print(classification_report(y_test, y_pred))

print('Roc_auc score')
print('-------------------------------------------------------')
print(roc_auc_score(y_test, y_pred))
print('')

print('Confusion matrix')
print('-------------------------------------------------------')
print(confusion_matrix(y_test, y_pred))