In [178]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Reading the ILPD dataset

In [179]:
df = pd.read_csv("ILPD.csv")
df

     Age  Gender    TB   DB   AP  SGPT  SGOT   TP  ALB   A/G  Target
0     65  Female   0.7  0.1  187    16    18  6.8  3.3  0.90       1
1     62    Male  10.9  5.5  699    64   100  7.5  3.2  0.74       1
2     62    Male   7.3  4.1  490    60    68  7.0  3.3  0.89       1
3     58    Male   1.0  0.4  182    14    20  6.8  3.4  1.00       1
4     72    Male   3.9  2.0  195    27    59  7.3  2.4  0.40       1
..   ...     ...   ...  ...  ...   ...   ...  ...  ...   ...     ...
578   60    Male   0.5  0.1  500    20    34  5.9  1.6  0.37       2
579   40    Male   0.6  0.1   98    35    31  6.0  3.2  1.10       1
580   52    Male   0.8  0.2  245    48    49  6.4  3.2  1.00       1
581   31    Male   1.3  0.5  184    29    32  6.8  3.4  1.00       1
582   38    Male   1.0  0.3  216    21    24  7.3  4.4  1.50       2

[583 rows x 11 columns]

# Encoding Gender column

In [180]:
from sklearn.preprocessing import LabelEncoder

label_encoder_x = LabelEncoder()
df['Gender'] = label_encoder_x.fit_transform(df[['Gender']])
df

C:\Users\sanik\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

     Age  Gender    TB   DB   AP  SGPT  SGOT   TP  ALB   A/G  Target
0     65       0   0.7  0.1  187    16    18  6.8  3.3  0.90       1
1     62       1  10.9  5.5  699    64   100  7.5  3.2  0.74       1
2     62       1   7.3  4.1  490    60    68  7.0  3.3  0.89       1
3     58       1   1.0  0.4  182    14    20  6.8  3.4  1.00       1
4     72       1   3.9  2.0  195    27    59  7.3  2.4  0.40       1
..   ...     ...   ...  ...  ...   ...   ...  ...  ...   ...     ...
578   60       1   0.5  0.1  500    20    34  5.9  1.6  0.37       2
579   40       1   0.6  0.1   98    35    31  6.0  3.2  1.10       1
580   52       1   0.8  0.2  245    48    49  6.4  3.2  1.00       1
581   31       1   1.3  0.5  184    29    32  6.8  3.4  1.00       1
582   38       1   1.0  0.3  216    21    24  7.3  4.4  1.50       2

[583 rows x 11 columns]

# Checking for NULL values

In [181]:
df.isnull().values.any()

True

In [182]:
df.isnull().sum().sum()

4

In [183]:
df[df.isnull().any(axis=1)]

     Age  Gender   TB   DB   AP  SGPT  SGOT   TP  ALB  A/G  Target
209   45       0  0.9  0.3  189    23    33  6.6  3.9  NaN       1
241   51       1  0.8  0.2  230    24    46  6.5  3.1  NaN       1
253   35       0  0.6  0.2  180    12    15  5.2  2.7  NaN       2
312   27       1  1.3  0.6  106    25    54  8.5  4.8  NaN       2

# Handling Missing data by MultiVariate Imputation

In [184]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.model_selection import train_test_split

df2 = df.copy()

In [185]:
cont_feats = [col for col in df2.columns if df2[col].dtype != object]

In [186]:
iter_imputer = IterativeImputer(random_state=42)
iter_imputed = iter_imputer.fit_transform(df2[cont_feats])
df2 = pd.DataFrame(iter_imputed, columns=cont_feats)

In [187]:
df2['A/G'] = np.round(df2[['A/G']],2)

In [188]:
df2.iloc[[209,241,253,312],:]

      Age  Gender   TB   DB     AP  SGPT  SGOT   TP  ALB   A/G  Target
209  45.0     0.0  0.9  0.3  189.0  23.0  33.0  6.6  3.9  1.31     1.0
241  51.0     1.0  0.8  0.2  230.0  24.0  46.0  6.5  3.1  0.92     1.0
253  35.0     0.0  0.6  0.2  180.0  12.0  15.0  5.2  2.7  0.99     2.0
312  27.0     1.0  1.3  0.6  106.0  25.0  54.0  8.5  4.8  1.37     2.0

In [189]:
df = df2
df

      Age  Gender    TB   DB     AP  SGPT   SGOT   TP  ALB   A/G  Target
0    65.0     0.0   0.7  0.1  187.0  16.0   18.0  6.8  3.3  0.90     1.0
1    62.0     1.0  10.9  5.5  699.0  64.0  100.0  7.5  3.2  0.74     1.0
2    62.0     1.0   7.3  4.1  490.0  60.0   68.0  7.0  3.3  0.89     1.0
3    58.0     1.0   1.0  0.4  182.0  14.0   20.0  6.8  3.4  1.00     1.0
4    72.0     1.0   3.9  2.0  195.0  27.0   59.0  7.3  2.4  0.40     1.0
..    ...     ...   ...  ...    ...   ...    ...  ...  ...   ...     ...
578  60.0     1.0   0.5  0.1  500.0  20.0   34.0  5.9  1.6  0.37     2.0
579  40.0     1.0   0.6  0.1   98.0  35.0   31.0  6.0  3.2  1.10     1.0
580  52.0     1.0   0.8  0.2  245.0  48.0   49.0  6.4  3.2  1.00     1.0
581  31.0     1.0   1.3  0.5  184.0  29.0   32.0  6.8  3.4  1.00     1.0
582  38.0     1.0   1.0  0.3  216.0  21.0   24.0  7.3  4.4  1.50     2.0

[583 rows x 11 columns]

# Log1 p Transformation

In [190]:
# save skewed features
skewed_cols = ['A/G', 'TB',
               'AP', 'SGPT']

In [191]:
# Apply log1p transformation on dataframe - just selected values
for c in skewed_cols:
    df[c] = df[c].apply('log1p')

# Balance Dataset

In [192]:
from sklearn.utils import resample
df.Target.value_counts()

1.0    416
2.0    167
Name: Target, dtype: int64

In [193]:
# Split data on majority and minority.. minority is dataset == 2
minority = df[df.Target == 2]
majority = df[df.Target == 1]

print('Minority size:', minority.shape)
print('Majority size:', majority.shape)

Minority size: (167, 11)
Majority size: (416, 11)

In [194]:
# choosing upsample as even now we do not have too much data
minority_upsample = resample(
    minority, replace=True, n_samples=majority.shape[0])
print('Minority upsampled size:',  minority_upsample.shape)

Minority upsampled size: (416, 11)

In [195]:
# merge majority with upsampled minority
df = pd.concat([minority_upsample, majority], axis=0)

In [196]:
# merge majority with upsampled minority
df = pd.concat([minority_upsample, majority], axis=0)
df = df.reset_index(drop=True)
df

,Age,Gender,TB,DB,AP,SGPT,SGOT,TP,ALB,A/G,Target
0,35.0,1.0,0.641854,0.2,5.252273,3.258097,20.0,6.4,3.6,0.788457,2.0
1,49.0,0.0,0.587787,0.2,5.068904,2.995732,15.0,6.6,3.6,0.788457,2.0
2,20.0,0.0,0.470004,0.2,5.313206,2.564949,13.0,6.1,3.0,0.641854,2.0
3,17.0,1.0,0.641854,0.3,5.313206,3.135494,19.0,7.4,4.1,0.788457,2.0
4,60.0,1.0,1.029619,0.5,5.308268,3.828641,25.0,3.9,1.7,0.530628,2.0
...,...,...,...,...,...,...,...,...,...,...,...
827,32.0,1.0,2.772589,8.2,5.669881,4.077537,80.0,5.3,2.2,0.530628,1.0
828,32.0,1.0,2.617396,8.4,5.252273,3.367296,47.0,5.4,2.6,0.641854,1.0
829,40.0,1.0,0.470004,0.1,4.595120,3.583519,31.0,6.0,3.2,0.741937,1.0
830,52.0,1.0,0.587787,0.2,5.505332,3.891820,49.0,6.4,3.2,0.693147,1.0
831,31.0,1.0,0.832909,0.5,5.220356,3.401197,32.0,6.8,3.4,0.693147,1.0

# Splitting into train and test set

In [197]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=123)

In [198]:
from sklearn import preprocessing

standard_scaler = preprocessing.StandardScaler()
standard_data = pd.DataFrame(standard_scaler.fit_transform(X), columns=X.columns)
standardized_X_train = pd.DataFrame(standard_scaler.fit_transform(X_train), columns=X.columns)
standardized_X_test = pd.DataFrame(standard_scaler.fit_transform(X_test), columns=X.columns)

min_max_scaler = preprocessing.MinMaxScaler()
minmax_data = pd.DataFrame(min_max_scaler.fit_transform(X), columns=X.columns)
minmax_X_train = pd.DataFrame(min_max_scaler.fit_transform(X_train), columns=X.columns)
minmax_X_test = pd.DataFrame(min_max_scaler.fit_transform(X_test), columns=X.columns)

max_abs_scaler = preprocessing.MaxAbsScaler()
maxabs_data = pd.DataFrame(max_abs_scaler.fit_transform(X), columns=X.columns)
maxabs_X_train = pd.DataFrame(max_abs_scaler.fit_transform(X_train), columns=X.columns)
maxabs_X_test = pd.DataFrame(max_abs_scaler.fit_transform(X_test), columns=X.columns)

robust_scaler = preprocessing.RobustScaler()
robust_data = pd.DataFrame(robust_scaler.fit_transform(X), columns=X.columns)
robust_X_train = pd.DataFrame(robust_scaler.fit_transform(X_train), columns=X.columns)
robust_X_test = pd.DataFrame(robust_scaler.fit_transform(X_test), columns=X.columns)

scaled_data = {
    'Standardized' : 
    {
        'data': standard_data,
        'train':standardized_X_train,
        'test':standardized_X_test
    },
    'Min_Max': 
    {
        'data':minmax_data,
        'train':minmax_X_train,
        'test':minmax_X_test
    },
    'Absolute_max': 
    {
        'data':maxabs_data,
        'train':maxabs_X_train,
        'test':maxabs_X_test
    },
    'Robust':
    {
        'data':robust_data,
        'train':robust_X_train,
        'test':robust_X_test
    },
}

In [199]:
from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import RandomForestClassifier
from lightgbm import LGBMClassifier
from sklearn.feature_selection import f_classif

In [200]:
feature_selection = []
for name in scaled_data :
    if name!='Standardized' and name!='Robust':
        d1 = {}
        d1['Processing'] = name
        d1['Method'] = "Univariate Selection"
        chi_selector = SelectKBest(chi2, k='all')
        fit = chi_selector.fit(scaled_data[name]['data'], y)
        d1['Features'] = dict(sorted(zip(scaled_data[name]['data'].columns, fit.scores_), key = lambda x: x[1],reverse=True))
        feature_selection.append(d1)
    
    ###############################

    d2 = {}
    d2['Processing'] = name
    d2['Method'] = "Extra Tree Classifier"
    etc = ExtraTreesClassifier()
    etc.fit(scaled_data[name]['data'],y)
    d2['Features'] = dict(sorted(zip(scaled_data[name]['data'].columns, etc.feature_importances_), key = lambda x: x[1],reverse=True))
    feature_selection.append(d2)

    ###############################

    d3 = {}
    d3['Processing'] = name
    d3['Method'] = "Random Forest Classifier"
    rf = RandomForestClassifier(n_estimators=500, random_state=7)
    rf.fit(scaled_data[name]['data'], y)
    d3['Features'] = dict(sorted(zip(scaled_data[name]['data'].columns, rf.feature_importances_), key = lambda x: x[1],reverse=True))
    feature_selection.append(d3)

    ###############################

    d4 = {}
    d4['Processing'] = name
    d4['Method'] = "LGBM Classifier"
    lgbc=LGBMClassifier(n_estimators=500, learning_rate=0.0001,
                    num_leaves=32, colsample_bytree=0.2,                                           
                    reg_alpha=3, reg_lambda=1, min_split_gain=0.01,    
                    min_child_weight=40)
    lgbc.fit(scaled_data[name]['data'], y)
    d4['Features'] = dict(sorted(zip(scaled_data[name]['data'].columns, lgbc.feature_importances_), key = lambda x: x[1],reverse=True))
    feature_selection.append(d4)

    ###############################

    d5 = {}
    d5['Processing'] = name
    d5['Method'] = "Correlation Matrix"
    t = pd.concat([scaled_data[name]['data'], y], axis=1)
    corrmat = t.corr()
    d5['Features'] = dict(sorted(zip(corrmat.iloc[:-1,:]['Target'].index,abs(corrmat.iloc[:-1,:]['Target'].values)),key = lambda x: x[1],reverse=True)) 
    feature_selection.append(d5) 

    ###############################

    d6 = {}
    d6['Processing'] = name
    d6['Method'] = "ANOVA F-SCORES"
    anov_selector = SelectKBest(f_classif, k='all')
    fit = anov_selector.fit(scaled_data[name]['data'], y)
    d6['Features'] = dict(sorted(zip(scaled_data[name]['data'].columns, fit.scores_), key = lambda x: x[1], reverse=True))
    feature_selection.append(d6)

In [201]:
feature_selection

[{'Processing': 'Standardized',
  'Method': 'Extra Tree Classifier',
  'Features': {'TB': 0.14145969575672063,
   'SGPT': 0.129214854149074,
   'AP': 0.12437605159201111,
   'SGOT': 0.10900768676499213,
   'DB': 0.10080558756731388,
   'Age': 0.09631994993123567,
   'ALB': 0.09236553916524211,
   'A/G': 0.0923119495378985,
   'TP': 0.08731097266394189,
   'Gender': 0.026827712871570174}},
 {'Processing': 'Standardized',
  'Method': 'Random Forest Classifier',
  'Features': {'AP': 0.15979140714806905,
   'SGOT': 0.1420851836063193,
   'SGPT': 0.1195676359259475,
   'TB': 0.11591263323065122,
   'Age': 0.11261181240646508,
   'DB': 0.10097298521119469,
   'TP': 0.08172578763577122,
   'ALB': 0.07827377429108635,
   'A/G': 0.07234434222116469,
   'Gender': 0.016714438323330853}},
 {'Processing': 'Standardized',
  'Method': 'LGBM Classifier',
  'Features': {'SGOT': 214,
   'Age': 166,
   'AP': 145,
   'TB': 142,
   'ALB': 132,
   'DB': 90,
   'SGPT': 86,
   'A/G': 59,
   'TP': 26,
   'Gender': 12}},
 {'Processing': 'Standardized',
  'Method': 'Correlation Matrix',
  'Features': {'TB': 0.37765747324214893,
   'SGPT': 0.3472668587675253,
   'DB': 0.31959155488434154,
   'AP': 0.2935502385851903,
   'A/G': 0.2152144740549693,
   'SGOT': 0.2044388477236852,
   'ALB': 0.19742143690610559,
   'Age': 0.1295334229423391,
   'Gender': 0.12362197226455333,
   'TP': 0.05411769015027637}},
 {'Processing': 'Standardized',
  'Method': 'ANOVA F-SCORES',
  'Features': {'TB': 138.0713360670696,
   'SGPT': 113.8191869990944,
   'DB': 94.41901357246705,
   'AP': 78.26694540761326,
   'A/G': 40.31040172358998,
   'SGOT': 36.203171574348026,
   'ALB': 33.6613961596203,
   'Age': 14.16415236164823,
   'Gender': 12.881241565452017,
   'TP': 2.4379814170086282}},
 {'Processing': 'Min_Max',
  'Method': 'Univariate Selection',
  'Features': {'DB': 24.078590793811536,
   'TB': 20.889623393907165,
   'SGPT': 9.9436075362414,
   'SGOT': 5.428646621452896,
   'AP': 3.8312015384847893,
   'Gender': 3.514950166112957,
   'A/G': 2.0035892377325086,
   'ALB': 1.9059519835434031,
   'Age': 1.0749540530674004,
   'TP': 0.10954196766755431}},
 {'Processing': 'Min_Max',
  'Method': 'Extra Tree Classifier',
  'Features': {'TB': 0.1355240311240167,
   'SGPT': 0.12819897697394403,
   'AP': 0.12730361841667465,
   'SGOT': 0.1097617853723078,
   'DB': 0.10534868124024759,
   'Age': 0.10324087701760763,
   'A/G': 0.08887653121472487,
   'ALB': 0.08765905135274626,
   'TP': 0.08280879628117488,
   'Gender': 0.03127765100655569}},
 {'Processing': 'Min_Max',
  'Method': 'Random Forest Classifier',
  'Features': {'AP': 0.15979140714806905,
   'SGOT': 0.1420851836063193,
   'SGPT': 0.1195676359259475,
   'TB': 0.11591263323065122,
   'Age': 0.11261181240646508,
   'DB': 0.10097298521119469,
   'TP': 0.08172578763577122,
   'ALB': 0.07827377429108635,
   'A/G': 0.07234434222116469,
   'Gender': 0.016714438323330853}},
 {'Processing': 'Min_Max',
  'Method': 'LGBM Classifier',
  'Features': {'SGOT': 214,
   'Age': 166,
   'AP': 145,
   'TB': 142,
   'ALB': 132,
   'DB': 90,
   'SGPT': 86,
   'A/G': 59,
   'TP': 26,
   'Gender': 12}},
 {'Processing': 'Min_Max',
  'Method': 'Correlation Matrix',
  'Features': {'TB': 0.37765747324214943,
   'SGPT': 0.3472668587675255,
   'DB': 0.319591554884342,
   'AP': 0.2935502385851903,
   'A/G': 0.21521447405496916,
   'SGOT': 0.20443884772368542,
   'ALB': 0.19742143690610578,
   'Age': 0.12953342294233797,
   'Gender': 0.12362197226455364,
   'TP': 0.05411769015027846}},
 {'Processing': 'Min_Max',
  'Method': 'ANOVA F-SCORES',
  'Features': {'TB': 138.07133606706952,
   'SGPT': 113.81918699909426,
   'DB': 94.41901357246694,
   'AP': 78.26694540761275,
   'A/G': 40.3104017235903,
   'SGOT': 36.20317157434803,
   'ALB': 33.66139615962071,
   'Age': 14.164152361648483,
   'Gender': 12.88124156545207,
   'TP': 2.437981417009875}},
 {'Processing': 'Absolute_max',
  'Method': 'Univariate Selection',
  'Features': {'DB': 21.875594508503426,
   'TB': 12.41929497409738,
   'SGOT': 4.800213496689635,
   'Gender': 3.514950166112957,
   'SGPT': 2.3499610556526402,
   'ALB': 1.148082227143652,
   'A/G': 0.9782019458750075,
   'Age': 0.9338927548096576,
   'AP': 0.4101771556524798,
   'TP': 0.046119152990349056}},
 {'Processing': 'Absolute_max',
  'Method': 'Extra Tree Classifier',
  'Features': {'TB': 0.13691279832006248,
   'SGPT': 0.12699233147135425,
   'AP': 0.12396299105637397,
   'SGOT': 0.1111264668200909,
   'DB': 0.10220516908581663,
   'Age': 0.09747096210254223,
   'A/G': 0.09601870329231398,
   'ALB': 0.08891777944350084,
   'TP': 0.08629769953571303,
   'Gender': 0.030095098872231753}},
 {'Processing': 'Absolute_max',
  'Method': 'Random Forest Classifier',
  'Features': {'AP': 0.15979140714806905,
   'SGOT': 0.1420851836063193,
   'SGPT': 0.1195676359259475,
   'TB': 0.11591263323065122,
   'Age': 0.11261181240646508,
   'DB': 0.10097298521119469,
   'TP': 0.08172578763577122,
   'ALB': 0.07827377429108635,
   'A/G': 0.07234434222116469,
   'Gender': 0.016714438323330853}},
 {'Processing': 'Absolute_max',
  'Method': 'LGBM Classifier',
  'Features': {'SGOT': 214,
   'Age': 166,
   'AP': 145,
   'TB': 142,
   'ALB': 132,
   'DB': 90,
   'SGPT': 86,
   'A/G': 59,
   'TP': 26,
   'Gender': 12}},
 {'Processing': 'Absolute_max',
  'Method': 'Correlation Matrix',
  'Features': {'TB': 0.3776574732421493,
   'SGPT': 0.34726685876752433,
   'DB': 0.3195915548843417,
   'AP': 0.29355023858518553,
   'A/G': 0.21521447405496918,
   'SGOT': 0.2044388477236856,
   'ALB': 0.19742143690610142,
   'Age': 0.12953342294233902,
   'Gender': 0.12362197226455364,
   'TP': 0.05411769015027083}},
 {'Processing': 'Absolute_max',
  'Method': 'ANOVA F-SCORES',
  'Features': {'TB': 138.0713360670689,
   'SGPT': 113.81918699909167,
   'DB': 94.41901357246734,
   'AP': 78.26694540759426,
   'A/G': 40.31040172359237,
   'SGOT': 36.20317157434796,
   'ALB': 33.66139615962217,
   'Age': 14.16415236164637,
   'Gender': 12.88124156545207,
   'TP': 2.437981417016525}},
 {'Processing': 'Robust',
  'Method': 'Extra Tree Classifier',
  'Features': {'TB': 0.14019363562546183,
   'SGPT': 0.12824646589219,
   'AP': 0.12448272038821123,
   'SGOT': 0.11095529759922408,
   'DB': 0.10241860655366515,
   'Age': 0.09854131868803324,
   'A/G': 0.0917227000329144,
   'ALB': 0.08795559125954465,
   'TP': 0.08785239816233358,
   'Gender': 0.027631265798421945}},
 {'Processing': 'Robust',
  'Method': 'Random Forest Classifier',
  'Features': {'AP': 0.15979140714806905,
   'SGOT': 0.1420851836063193,
   'SGPT': 0.1195676359259475,
   'TB': 0.11591263323065122,
   'Age': 0.11261181240646508,
   'DB': 0.10097298521119469,
   'TP': 0.08172578763577122,
   'ALB': 0.07827377429108635,
   'A/G': 0.07234434222116469,
   'Gender': 0.016714438323330853}},
 {'Processing': 'Robust',
  'Method': 'LGBM Classifier',
  'Features': {'SGOT': 214,
   'Age': 166,
   'AP': 145,
   'TB': 142,
   'ALB': 132,
   'DB': 90,
   'SGPT': 86,
   'A/G': 59,
   'TP': 26,
   'Gender': 12}},
 {'Processing': 'Robust',
  'Method': 'Correlation Matrix',
  'Features': {'TB': 0.37765747324214916,
   'SGPT': 0.3472668587675253,
   'DB': 0.319591554884342,
   'AP': 0.2935502385851896,
   'A/G': 0.21521447405496938,
   'SGOT': 0.20443884772368548,
   'ALB': 0.19742143690610556,
   'Age': 0.12953342294233933,
   'Gender': 0.12362197226455318,
   'TP': 0.05411769015027642}},
 {'Processing': 'Robust',
  'Method': 'ANOVA F-SCORES',
  'Features': {'TB': 138.07133606706992,
   'SGPT': 113.81918699909413,
   'DB': 94.41901357246738,
   'AP': 78.26694540761316,
   'A/G': 40.31040172358974,
   'SGOT': 36.20317157434817,
   'ALB': 33.66139615962032,
   'Age': 14.16415236164821,
   'Gender': 12.881241565452106,
   'TP': 2.4379814170086322}}]

# Model Selection

## Gradient Boosting

## Bagging

## Stacking

In [202]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier
from chefboost import Chefboost as chef
from sklearn.tree import DecisionTreeClassifier, ExtraTreeClassifier
from sklearn.ensemble import RandomForestClassifier, StackingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import BaggingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn import metrics
from sklearn.ensemble import GradientBoostingClassifier

In [203]:
results = []
best_result = {}
cross_best_result = {}
max_accuracy = 0
max_cross_acc = 0
for method in feature_selection:
    data = scaled_data[method['Processing']]
    for i in range(3,11):
        info = {}
        info['Processing'] = method['Processing']
        info['Method'] = method['Method']
        info['Features'] = list(method['Features'].keys())[:i]
        
        data = scaled_data[method['Processing']]['data']
        X_train = scaled_data[method['Processing']]['train']
        X_test = scaled_data[method['Processing']]['test']
        
        model = RandomForestClassifier(n_jobs=-1,random_state=123)
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        predictions = [round(value) for value in y_pred]
        accuracy = accuracy_score(y_test, predictions)*100

        # K-Fold Cross Validation
        kfold = StratifiedKFold(n_splits=10)
        crossval_results = cross_val_score(model, data, y, cv=kfold)
        cross_acc = crossval_results.mean()*100
        info['Cross Validation Accuracy'] = cross_acc
        info['Accuracy'] = accuracy
        if accuracy>max_accuracy:
            max_accuracy = accuracy
            best_result = info
        if cross_acc>max_cross_acc:
            max_cross_acc = cross_acc
            cross_best_result = info

In [204]:
best_result

{'Processing': 'Robust',
 'Method': 'Extra Tree Classifier',
 'Features': ['TB', 'SGPT', 'AP'],
 'Cross Validation Accuracy': 84.3631669535284,
 'Accuracy': 72.59615384615384}

In [205]:
cross_best_result

{'Processing': 'Standardized',
 'Method': 'Extra Tree Classifier',
 'Features': ['TB', 'SGPT', 'AP'],
 'Cross Validation Accuracy': 84.72461273666093,
 'Accuracy': 71.63461538461539}

In [206]:
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.25, random_state=123)

In [207]:
config = {'algorithm': 'C4.5'}
model = chef.fit(X_train, config = config, target_label = 'Target')

[INFO]:  4 CPU cores will be allocated in parallel running
WARNING: You set the algorithm to  C4.5  but the Decision column of your data set has non-object type.
That's why, the algorithm is set to Regression to handle the data set.
Regression  tree is going to be built...
-------------------------
finished in  14.448322057723999  seconds
-------------------------
Evaluate  train set
-------------------------
MAE:  0.18269230769230768
MSE:  0.18108974358974358
RMSE:  0.42554640591801923
RAE:  0.26939834008220886
RRSE:  0.8510971834427593
Mean:  1.498397435897436
MAE / Mean:  12.192513368983956 %
RMSE / Mean:  28.400102384261388 %

In [208]:
y_pred = []
for i in range(X_test.shape[0]):
    test_input = X_test.iloc[i,:-1]
    y_pred.append(chef.predict(model, test_input))
predictions = [round(value) for value in y_pred]
accuracy = accuracy_score(y_test, predictions)*100
print(accuracy)

70.67307692307693