In [29]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier, ExtraTreeClassifier
from sklearn.model_selection import StratifiedKFold, KFold
from sklearn.ensemble import RandomForestClassifier, StackingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn import metrics

In [30]:
data = pd.read_csv("ILPD.csv")
data = data.dropna()
data

     Age  Gender    TB   DB   AP  SGPT  SGOT   TP  ALB   A/G  Target
0     65  Female   0.7  0.1  187    16    18  6.8  3.3  0.90       1
1     62    Male  10.9  5.5  699    64   100  7.5  3.2  0.74       1
2     62    Male   7.3  4.1  490    60    68  7.0  3.3  0.89       1
3     58    Male   1.0  0.4  182    14    20  6.8  3.4  1.00       1
4     72    Male   3.9  2.0  195    27    59  7.3  2.4  0.40       1
..   ...     ...   ...  ...  ...   ...   ...  ...  ...   ...     ...
578   60    Male   0.5  0.1  500    20    34  5.9  1.6  0.37       2
579   40    Male   0.6  0.1   98    35    31  6.0  3.2  1.10       1
580   52    Male   0.8  0.2  245    48    49  6.4  3.2  1.00       1
581   31    Male   1.3  0.5  184    29    32  6.8  3.4  1.00       1
582   38    Male   1.0  0.3  216    21    24  7.3  4.4  1.50       2

[579 rows x 11 columns]

In [31]:
data.Gender = data.Gender.astype('category').cat.codes
data

     Age  Gender    TB   DB   AP  SGPT  SGOT   TP  ALB   A/G  Target
0     65       0   0.7  0.1  187    16    18  6.8  3.3  0.90       1
1     62       1  10.9  5.5  699    64   100  7.5  3.2  0.74       1
2     62       1   7.3  4.1  490    60    68  7.0  3.3  0.89       1
3     58       1   1.0  0.4  182    14    20  6.8  3.4  1.00       1
4     72       1   3.9  2.0  195    27    59  7.3  2.4  0.40       1
..   ...     ...   ...  ...  ...   ...   ...  ...  ...   ...     ...
578   60       1   0.5  0.1  500    20    34  5.9  1.6  0.37       2
579   40       1   0.6  0.1   98    35    31  6.0  3.2  1.10       1
580   52       1   0.8  0.2  245    48    49  6.4  3.2  1.00       1
581   31       1   1.3  0.5  184    29    32  6.8  3.4  1.00       1
582   38       1   1.0  0.3  216    21    24  7.3  4.4  1.50       2

[579 rows x 11 columns]

In [32]:
X, Y = data.iloc[:, :-1], data.iloc[:, -1]

In [33]:
# Create Learners per layer
layer_one_estimators = [
    ('rf_1', RandomForestClassifier(n_estimators=20, random_state=7)),
    ('et_1', ExtraTreeClassifier())
]
layer_two_estimators = [
    ('dt_2', DecisionTreeClassifier()),
    ('rf_2', RandomForestClassifier(
        n_estimators=50, random_state=7)),
]
layer_two = StackingClassifier(
    estimators=layer_two_estimators, final_estimator=LogisticRegression())

# Create Final model by
clf = StackingClassifier(
    estimators=layer_one_estimators, final_estimator=layer_two)

X_train, X_test, y_train, y_test = train_test_split(
    X, Y, stratify=Y, random_state=7)
clf.fit(X_train, y_train).score(X_test, y_test)

0.7103448275862069